.newsPage {
}

.newsSearchBar {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.newsCardsContainer {
  margin: auto;
  max-width: max-content;
  padding-bottom: 1vh;
}

.newsCard {
  min-width: 275px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 7.5px;
  margin-bottom: 1.5vh;
}

.newsCard .newsCardDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsCard .newsCardDetailsContainer .newsCardDetailsContainerDiv {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.newsCard .publishedUtc {
  font-size: 14px;
}

.newsCard .imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.newsCard .image {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  height: 160px;
  border-radius: 5px;
}

.newsCard .titleContainer {
  text-align: center;
}

.newsCard .descriptionContainer {
}

.newsCard .buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
